{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Elite Fitness|Dashboard</title>
<script type="text/javascript">
window.onload = function () {

    var gross =[];
    {% for request in sales_sum %}
        gross.push({label: '1st-15th', y: {{request.gross_period_1}},  indexLabel: '${{request.gross_period_1}}' });
        gross.push({label: '16th-End of Month', y: {{request.gross_period_2}}, indexLabel: '${{request.gross_period_2}}' });
        gross.push({label: 'Overall Month', y: {{request.gross_sale}}, indexLabel: '${{request.gross_sale}}'});
    {% endfor %}


    var cash =[];
    {% for request in sales_sum %}
        cash.push({label: '1st-15th', y: {{request.cash_period_1}}, indexLabel: '${{request.cash_period_1}}'});
        cash.push({label: '16th-End of Month', y: {{request.cash_period_2}}, indexLabel: '${{request.cash_period_2}}'});
        cash.push({label: 'Overall Month', y: {{request.cash}}, indexLabel: '${{request.cash}}'});

    {% endfor %}

    var net_eft_added =[];
    {% for request in sales_sum %}
        net_eft_added.push({label: '1st-15th', y: {{request.net_eft_period_1}}, indexLabel: '${{request.net_eft_period_1}}'});
        net_eft_added.push({label: '16th-End of Month', y: {{request.net_eft_period_2}}, indexLabel: '${{request.net_eft_period_2}}'});
        net_eft_added.push({label: 'Overall Month', y: {{request.net_eft}}, indexLabel: '${{request.net_eft}}'});

    {% endfor %}

    var sum =[];
    sum.push({y: {{ sales_sum.request}}, label: "Requests", indexLabel: '{{ sales_sum.request}}'});
    sum.push({y: {{ sales_sum.scheduled}}, label: "Scheduled ", indexLabel: '{{ sales_sum.scheduled}}'});
    sum.push({y: {{ sales_sum.attended}}, label: "Attended", indexLabel: '{{ sales_sum.attended}}'});
    sum.push({y: {{ sales_sum.closed}}, label: "Closed", indexLabel: '{{ sales_sum.closed}}'});


    var sum_1 =[];
    sum_1.push({y: {{ sales_sum.request_period_1}}, label: "Requests", indexLabel: '{{ sales_sum.request_period_1}}'});
    sum_1.push({y: {{ sales_sum.scheduled_period_1}}, label: "Scheduled ", indexLabel: '{{ sales_sum.scheduled_period_1}}'});
    sum_1.push({y: {{ sales_sum.attended_period_1}}, label: "Attended", indexLabel: '{{ sales_sum.attended_period_1}}'});
    sum_1.push({y: {{ sales_sum.closed_period_1}}, label: "Closed", indexLabel: '{{ sales_sum.closed_period_1}}'});

    var sum_2 =[];
    sum_2.push({y: {{ sales_sum.request_period_2}}, label: "Requests", indexLabel: '{{ sales_sum.request_period_2}}'});
    sum_2.push({y: {{ sales_sum.scheduled_period_2}}, label: "Scheduled ", indexLabel: '{{ sales_sum.scheduled_period_2}}'});
    sum_2.push({y: {{ sales_sum.attended_period_2}}, label: "Attended", indexLabel: '{{ sales_sum.attended_period_2}}'});
    sum_2.push({y: {{ sales_sum.closed_period_2}}, label: "Closed", indexLabel: '{{ sales_sum.closed_period_2}}'});


  var chart1 = new CanvasJS.Chart("chartContainer1",
    {
      toolTip:{
          shared: true,
      },

      axisY:{
        title: "Gross Sale, Cash",
        includeZero: false,
        prefix : "USD",
        lineColor: "Grey"
      },
      axisY2:{
        title: "NET EFT",
        includeZero: false,
        prefix : "USD",
        lineColor: "Grey"
      },
{#      axisX: {#}
{#        title: "Date",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Gross Sale: USD {y}",
        indexLabelPlacement: "outside",
        color: "MediumAquamarine",
        indexLabelFontColor: "black",
    	legendText: "Gross Sales",
	    showInLegend: true,
        dataPoints: gross
      },
      {
        type: "column",
        toolTipContent: "Cash: USD {y}",
        indexLabelPlacement: "outside",
        indexLabelFontColor: "green",
    	legendText: "Cash Recieved",
	    showInLegend: true,
        color: "DarkGray",
        dataPoints: cash
      },
      {
        type: "column",
        axisYType: "secondary",
        toolTipContent: "Net EFT: USD {y}",
        indexLabelPlacement: "outside",
        indexLabelFontColor: "green",
    	legendText: "Net EFT",
	    showInLegend: true,
        color: "RosyBrown",
        dataPoints: net_eft_added
      }

      ]
    });

    chart1.render();


  var chart2 = new CanvasJS.Chart("chartContainer2", {
            title: {
                text: "Overall Month",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: sum
            }
            ]
        });

    chart2.render();

  var chart3 = new CanvasJS.Chart("chartContainer3", {
            title: {
                text: "1st - 15th",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: sum_1
            }
            ]
        });

    chart3.render();

  var chart4 = new CanvasJS.Chart("chartContainer4", {
            title: {
                text: "16th - End of Month",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: sum_2
            }
            ]
        });

    chart4.render();



     }
</script>

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <!-- starrr -->
    <link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">

      {% include 'templates/navbar.html'  %}


        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count" style="height: 50px">
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">

              {% for request in sales_sum %}
                  {% if request.gross_gap > 0 %}
              <span class="count_top"><i class="fa fa-check-square-o" aria-hidden="true"></i> Gross Sale/ Target Surplus </span>
                <div class="count green">USD {{ request.gross_gap}}</div>
                  {% else %}
              <span class="count_top"><i class="fa fa-check-square-o" aria-hidden="true"></i> Gross Sale Target GAP </span>
                <div class="count red">USD {{request.gross_gap}}</div>
                  {% endif %}
              {% endfor %}

              {% for request in sales_sum %}
              <span class="count_bottom"><i class="green">USD {{ request.gross_speed}} </i> Daily Average Gross Sale</span>
              {% endfor %}
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              {% for request in sales_sum %}
                  {% if request.cash_gap > 0 %}
              <span class="count_top"><i class="fa fa-money" aria-hidden="true"></i> Cash Recieved /Target Surplus</span>
              <div class="count green">USD {{ request.cash_gap}}</div>
              <span class="count_bottom"><i class="green">USD {{ request.cash_speed}} </i> Daily Average Cash Collection</span>
                  {% else %}
              <span class="count_top"><i class="fa fa-money" aria-hidden="true"></i> Cash Recieved Target GAP</span>
              <div class="count red">USD {{ request.cash_gap}}</div>
              <span class="count_bottom"><i class="green">USD {{ request.cash_speed}} </i> Daily Average Cash Collection</span>
                  {% endif %}
            </div>
               {% if request.net_eft_gap > 0 %}
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-plus-square" aria-hidden="true"></i> Net EFT /Target Surplus</span>
              <div class="count Green">USD {{ request.net_eft_gap }}</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{request.net_eft_speed }} </i> Daily Average of Net EFT</span>
            </div>
               {% else %}
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-plus-square" aria-hidden="true"></i> Net EFT Target GAP</span>
              <div class="count red"> USD {{ request.net_eft_gap }}</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{ request.net_eft_speed }} </i> Daily Average of Net EFT</span>
            </div>
               {% endif %}

               {% if request.program_gap > 0 %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Programs Sold /Target Surplus</span>
              <div class="count green">{{ request.program_gap }}</div>
              <span class="count_bottom"><i class="green">{{ request.program_speed }} </i> Daily Average Sold Programs </span>
            </div>
               {% else %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Programs Sold / Target GAP</span>
              <div class="count red">{{ request.program_gap }}</div>
              <span class="count_bottom"><i class="green">{{ request.program_speed }} </i> Daily Average Sold Programs </span>
            </div>
               {% endif %}

          </div>
            {% endfor %}

          <div class="row tile_count" style="height: 50px">
              {% for request in sales_sum %}
               {% if request.request_gap > 0 %}
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-child" aria-hidden="true"></i> Consultation Requested /Target Surplus  </span>
                <div class="count green"> {{ request.request_gap}}</div>
               {% else %}
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-child" aria-hidden="true"></i> Consultation Requested Target GAP </span>
                <div class="count red"> {{ request.request_gap}}</div>
               {% endif %}
              <span class="count_bottom"><i class="green"> {{ request.request_speed}} </i> Daily Average Requests</span>
              {% endfor %}

            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              {% for request in sales_sum %}
               {% if request.scheduled_gap > 0 %}
              <span class="count_top"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Consultation Scheduled / Target Surplus</span>
              <div class="count green"> {{ request.scheduled_gap}}</div>
              <span class="count_bottom"><i class="green"> {{ request.scheduled_speed}} </i> Daily Scheduled Requests</span>
               {% else %}
              <span class="count_top"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Consultation Scheduled / Target GAP</span>
              <div class="count red"> {{ request.scheduled_gap}}</div>
              <span class="count_bottom"><i class="green"> {{ request.scheduled_speed}} </i> Daily Scheduled Requests</span>
               {% endif %}
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
               {% if request.attended_gap > 0 %}
              <span class="count_top"><i class="fa fa-smile-o fa-3x"  aria-hidden="true"></i> Showed Consultations / Target Surplus</span>
              <div class="count green"> {{ request.attended_gap }}</div>
              <span class="count_bottom"><i class="green">{{ request.attended_speed }} </i> Daily Shows</span>
               {% else %}
              <span class="count_top"><i class="fa fa-smile-o fa-3x"  aria-hidden="true"></i> Showed Consultations / Target GAP</span>
              <div class="count red"> {{ request.attended_gap }}</div>
              <span class="count_bottom"><i class="green">{{ request.attended_speed }} </i> Daily Shows</span>
               {% endif %}
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Closed Consultations</span>
               {% if request.closed > 0 %}
              <div style="color: red" class="count">{{ request.closed }}</div>
              <span class="count_bottom"><i class="red">{{ request.closed_speed }} </i> Daily Closed Consultations </span>
               {% else %}
              <div style="color: green" class="count green">{{ request.closed }}</div>
              <span class="count_bottom"><i class="red">{{ request.closed_speed }} </i> Daily Closed Consultations </span>
               {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>



          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-12">
                    <h3>Gross Sale, Cash and Net EFT  </h3>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div style="width: 100%;">
                    <div id="as" style="height: 300px; width: 100%;" align="center"> </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>

            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">
                <div class="row x_title">
                <h3>Consultation Requests, Scheduled, Showed and Closed  </h3>
        </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">
                  <div class="x_content">
                    <div id="chartContainer2" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">
                  <div class="x_content">
                    <div id="chartContainer3" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">

                  <div class="x_content">
                    <div id="chartContainer4" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>

            </div>
          </div>
        </div>
    </div>

        <!-- /page content -->

        <!-- footer content -->
{#        <footer>#}
{#          <div class="pull-right">#}
{#            Copyright &copy; Elite Health 2016     </div>#}
{#          <div class="clearfix"></div>#}
{#        </footer>#}
        <!-- /footer content -->
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>

    <!-- Chart.js -->


    <script type="text/javascript" src="{% static 'js/canvasjs/canvasjs.min.js'%}"></script>
      </div>
  </body>
</html>