{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Elite Fitness|Dashboard</title>
<script type="text/javascript">
window.onload = function () {

    var gross =[];
    {% for request in sales_dates %}
        gross.push({label: '{{request.date}}', y: {{request.gross.sales}}});
    {% endfor %}

    var cash =[];
    {% for request in sales_dates %}
        cash.push({label: '{{request.date}}', y: {{request.cash.cash}}});
    {% endfor %}

    var net_eft_added =[];
    {% for request in sales_dates %}
        net_eft_added.push({label: '{{request.date}}', y: {{request.net_eft}}});
    {% endfor %}


    var trainer_gross =[];
    {% for request in sales_trainer %}
        trainer_gross.push({y: {{request.gross_gap}}, label: '{{request.trainer}}'});
    {% endfor %}

    var trainer_cash =[];
    {% for request in sales_trainer %}
        trainer_cash.push({y: {{request.cash_gap}}, label: '{{request.trainer}}'});
    {% endfor %}

    var trainer_net_eft =[];
    {% for request in sales_trainer %}
        trainer_net_eft.push({y: {{request.net_eft_gap}}, label: '{{request.trainer}}'});
    {% endfor %}


  var chart1 = new CanvasJS.Chart("chartContainer1",
    {
      toolTip:{
          shared: true,
      },

      axisY:{
        title: "Gross Sale, Cash",
        includeZero: false,
        prefix : "USD",
        interval: 5000,
        lineColor: "Grey"
      },
      axisY2:{
        title: "NET EFT",
        includeZero: false,
        prefix : "USD",
        interval: 3000,
        lineColor: "Grey"
      },
      axisX: {
        title: "Date",
      },
      data: [{
        type: "column",
        toolTipContent: "Gross Sale: USD {y}",
        indexLabelPlacement: "inside",
        color: "MediumAquamarine",
        indexLabelFontColor: "white",
    	legendText: "Gross Sales",
	    showInLegend: true,
        dataPoints: gross
      },
      {
        type: "column",
        toolTipContent: "Cash: USD {y}",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Cash Recieved",
	    showInLegend: true,
        color: "DarkGray",
        dataPoints: cash
      },
      {
        type: "line",
        axisYType: "secondary",
        toolTipContent: "Net EFT: USD {y}",
    	legendText: "Net EFT",
	    showInLegend: true,
        color: "RosyBrown",
        dataPoints: net_eft_added
      }

      ]
    });

    chart1.render();

{#var chart1 = new CanvasJS.Chart("chartContainer1",#}
{#    {#}
{#            animationEnabled: true,#}
{#			toolTip: {#}
{#				shared: true#}
{#			},#}
{#    		axisX:{#}
{#            labelMaxWidth: 160,#}
{#            labelWrap: true,#}
{#            labelFontColor: "black",#}
{#            labelFontWeight: "bold",#}
{#            labelFontSize: 12#}
{#        },#}
{#			axisY: {#}
{#				title: "USD"#}
{#			},#}
{#			data: [#}
{#			{#}
{#				type: "column",#}
{#				name: "Gross Sales",#}
{#                color: "Silver",#}
{#                indexLabelPlacement: "inside",#}
{#                indexLabelFontColor: "white",#}
{#				legendText: "Gross Sales",#}
{#				showInLegend: true,#}
{#				dataPoints: gross#}
{#			},#}
{#			{#}
{#				type: "column",#}
{#                color: "gold",#}
{#                indexLabelPlacement: "inside",#}
{#                indexLabelFontColor: "white",#}
{#				name: "Cash",#}
{#				legendText: "Cash",#}
{#				showInLegend: true,#}
{#				dataPoints: cash#}
{#			},#}
{#			{#}
{#				type: "column",#}
{#                color: "#558C89",#}
{#                indexLabelPlacement: "inside",#}
{#                indexLabelFontColor: "white",#}
{#				name: "Net EFT",#}
{#				legendText: "Net EFT",#}
{#				showInLegend: true,#}
{#				dataPoints: net_eft_added#}
{#			}#}
{##}
{#			]#}
{#        });#}
{##}
{#    chart1.render();#}

var chart2 = new CanvasJS.Chart("chartContainer2", {

                        animationEnabled: true,
			axisX:{
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",

			},
			axisY2:{
{#				interlacedColor: "#9CC2CB",#}
{#				gridColor: "#9CC2CB",#}
                interval: 25000,
                maximum: 110000

			},

			data: [
			{
				type: "bar",
                name: "Trainers",
				axisYType: "secondary",
				color: "DarkSeaGreen",
				dataPoints: trainer_gross
			}

			]
		});

chart2.render();

var chart3 = new CanvasJS.Chart("chartContainer3", {

                        animationEnabled: true,
			axisX:{
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",

			},
			axisY2:{
{#				interlacedColor: "#9CC2CB",#}
{#				gridColor: "#9CC2CB",#}
                interval: 5000,
                maximum: 22000

			},

			data: [
			{
				type: "bar",
                name: "Trainers",
				axisYType: "secondary",
				color: "DarkGray",
				dataPoints: trainer_cash
			}

			]
		});

chart3.render();

var chart4 = new CanvasJS.Chart("chartContainer4", {

                        animationEnabled: true,
			axisX:{
				gridThickness: 0,
				labelFontSize: 10,
				labelFontStyle: "normal",
				labelFontWeight: "normal",

			},
			axisY2:{
{#				interlacedColor: "#9CC2CB",#}
{#				gridColor: "#9CC2CB",#}
                interval: 2000,
                maximum: 8000

			},

			data: [
			{
				type: "bar",
                name: "Trainers",
				axisYType: "secondary",
				color: "DarkSeaGreen",
				dataPoints: trainer_net_eft
			}

			]
		});

chart4.render();


     }
</script>

    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <!-- starrr -->
    <link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">

      {% include 'templates/navbar.html'  %}


        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-check-square-o" aria-hidden="true"></i> Gross Sale </span>
              {% for request in sales_sum %}
                <div class="count">USD {{ request.gross_sale}}</div>
              {% endfor %}
              {% for request in sales_sum %}
              <span class="count_bottom"><i class="green">USD {{ request.gross_speed}} </i> Daily Average Gross Sale</span>
              {% endfor %}
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-money" aria-hidden="true"></i> Cash Recieved</span>
              {% for request in sales_sum %}
              <div class="count">USD {{ request.cash}}</div>
              <span class="count_bottom"><i class="green">USD {{ request.cash_speed}} </i> Daily Average Cash Collection</span>
            </div>
               {% if request.net_eft > 0 %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-plus-square" aria-hidden="true"></i> Net EFT</span>
              <div class="count green">USD {{ request.net_eft }}</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ request.net_eft_speed }} </i> Daily Average of Net EFT</span>
            </div>
               {% else %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-plus-square" aria-hidden="true"></i> Net EFT</span>
              <div class="count red">USD {{ request.net_eft }}</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{ request.net_eft_speed }} </i> Daily Average of Net EFT</span>
            </div>
               {% endif %}


            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Sold Programs Quantity</span>
              <div class="count">{{ request.program }}</div>
              <span class="count_bottom"><i class="green">{{ request.program_speed }} </i> Daily Average Sold Programs </span>
            </div>
          </div>
            {% endfor %}

          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Current Month <small>Gross Sale, Cash and Net EFT daily</small></h3>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div style="width: 100%;">
                    <div id="chartContainer1" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <br />

          <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Gross Sale Gap to Acieve Target</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div style="width: 100%;">
                    <div id="chartContainer2" style="height: 250px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Cash Collection Gap to Acieve Target</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div style="width: 100%;">
                    <div id="chartContainer3" style="height: 250px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Net EFT Gap to Acieve Target</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div style="width: 100%;">
                    <div id="chartContainer4" style="height: 250px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright &copy; Elite Health 2016     </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>

    <!-- Chart.js -->


    <script type="text/javascript" src="{% static 'js/canvasjs/canvasjs.min.js'%}"></script>

  </body>
</html>