{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Elite Fitness|Tracking</title>
<script type="text/javascript">
window.onload = function () {

    var gross =[];
    gross.push({y: {{ tracking_info.shows_percentage}}, label: 'Shows', indexLabel: "{{ tracking_info.shows_percentage}}%" });
    gross.push({y: {{ tracking_info.cancelled}}, label: "Cancelled ", indexLabel: '{{ tracking_info.cancelled}}%' });
    gross.push({y: {{ tracking_info.closed}}, label: "Closed " , indexLabel: '{{ tracking_info.closed}}%'});
    gross.push({y: {{ tracking_info.no_show}}, label: "No Shows" , indexLabel: '{{ tracking_info.no_show}}%' });
    gross.push({y: {{ tracking_info.rescheduled}}, label: "Rescheduled", indexLabel: '{{ tracking_info.rescheduled}}%'  });

    var gross_1 =[];
    gross_1.push({y: {{ tracking_info.shows_percentage_1}}, label: 'Shows', indexLabel: "{{ tracking_info.shows_percentage_1}}%" });
    gross_1.push({y: {{ tracking_info.cancelled_1}}, label: "Cancelled ", indexLabel: '{{ tracking_info.cancelled_1}}%' });
    gross_1.push({y: {{ tracking_info.closed_1}}, label: "Closed " , indexLabel: '{{ tracking_info.closed_1}}%'});
    gross_1.push({y: {{ tracking_info.no_show_1}}, label: "No Shows" , indexLabel: '{{ tracking_info.no_show_1}}%' });
    gross_1.push({y: {{ tracking_info.rescheduled_1}}, label: "Rescheduled", indexLabel: '{{ tracking_info.rescheduled_1}}%'  });

    var gross_2 =[];
    gross_2.push({y: {{ tracking_info.shows_percentage_2}}, label: 'Shows', indexLabel: "{{ tracking_info.shows_percentage_2}}%" });
    gross_2.push({y: {{ tracking_info.cancelled_2}}, label: "Cancelled ", indexLabel: '{{ tracking_info.cancelled_2}}%' });
    gross_2.push({y: {{ tracking_info.closed_2}}, label: "Closed " , indexLabel: '{{ tracking_info.closed_2}}%'});
    gross_2.push({y: {{ tracking_info.no_show_2}}, label: "No Shows" , indexLabel: '{{ tracking_info.no_show_2}}%' });
    gross_2.push({y: {{ tracking_info.rescheduled_2}}, label: "Rescheduled", indexLabel: '{{ tracking_info.rescheduled_2}}%'  });


    var sum =[];
    sum.push({y: {{ tracking_sum.shows}}, label: "Shows", indexLabel: '{{ tracking_sum.shows}}'});
    sum.push({y: {{ tracking_sum.cancelled}}, label: "Cancelled ", indexLabel: '{{ tracking_sum.cancelled}}'});
    sum.push({y: {{ tracking_sum.closed}}, label: "Closed",  indexLabel: '{{ tracking_sum.closed}}' });
    sum.push({y: {{ tracking_sum.no_show}}, label: "No Shows",  indexLabel: "{{ tracking_sum.no_show}}" });
    sum.push({y: {{ tracking_sum.rescheduled}}, label: "Rescheduled",  indexLabel: "{{ tracking_sum.rescheduled}}" });


    var sum_1 =[];
    sum_1.push({y: {{ tracking_sum.shows_1}}, label: "Shows", indexLabel: '{{ tracking_sum.shows_1}}'});
    sum_1.push({y: {{ tracking_sum.cancelled_1}}, label: "Cancelled ", indexLabel: '{{ tracking_sum.cancelled_1}}'});
    sum_1.push({y: {{ tracking_sum.closed_1}}, label: "Closed",  indexLabel: '{{ tracking_sum.closed_1}}' });
    sum_1.push({y: {{ tracking_sum.no_show_1}}, label: "No Shows",  indexLabel: "{{ tracking_sum.no_show_1}}" });
    sum_1.push({y: {{ tracking_sum.rescheduled_1}}, label: "Rescheduled",  indexLabel: "{{ tracking_sum.rescheduled_1}}" });

    var sum_2 =[];
    sum_2.push({y: {{ tracking_sum.shows_2}}, label: "Shows", indexLabel: '{{ tracking_sum.shows_2}}'});
    sum_2.push({y: {{ tracking_sum.cancelled_2}}, label: "Cancelled ", indexLabel: '{{ tracking_sum.cancelled_2}}'});
    sum_2.push({y: {{ tracking_sum.closed_2}}, label: "Closed",  indexLabel: '{{ tracking_sum.closed_2}}' });
    sum_2.push({y: {{ tracking_sum.no_show_2}}, label: "No Shows",  indexLabel: "{{ tracking_sum.no_show_2}}" });
    sum_2.push({y: {{ tracking_sum.rescheduled_2}}, label: "Rescheduled",  indexLabel: "{{ tracking_sum.rescheduled_2}}" });

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            title: {
                text: "Overall Month",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: gross
            }
            ]
        });

        chart1.render();

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            title: {
                text: "1st - 15th",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: gross_1
            }
            ]
        });

        chart2.render();

        var chart3 = new CanvasJS.Chart("chartContainer3", {
            title: {
                text: "16th - End of Month",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: gross_2
            }
            ]
        });

        chart3.render();

        var chart4 = new CanvasJS.Chart("chartContainer4", {
            title: {
                text: "Overall Month",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: sum
            }
            ]
        });

        chart4.render();

        var chart5 = new CanvasJS.Chart("chartContainer5", {
            title: {
                text: "1st - 15th",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: sum_1
            }
            ]
        });

        chart5.render();

        var chart6 = new CanvasJS.Chart("chartContainer6", {
            title: {
                text: "16th - End of Month",
                fontColor: "Peru",
                fontSize: 24

            },
            animationEnabled: true,
            axisY: {
                tickThickness: 0,
                lineThickness: 0,
                valueFormatString: " ",
                gridThickness: 0
            },
            axisX: {
                tickThickness: 0,
                lineThickness: 0,
                labelFontSize: 18,
                labelFontColor: "Peru"

            },
            data: [
            {
                indexLabelFontSize: 26,
                toolTipContent: "<span style='\"'color: {color};'\"'><strong>{label} </strong></span><span style='\"'font-size: 20px; color:peru '\"'><strong>{y}%</strong></span>",

                indexLabelPlacement: "inside",
                indexLabelFontColor: "white",
                indexLabelFontWeight: 600,
                color: "#62C9C3",
                type: "bar",
                dataPoints: sum_2
            }
            ]
        });

        chart6.render();

     }
</script>



    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <!-- starrr -->
    <link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      {% include 'templates/navbar.html'  %}
        <div class="right_col" role="main">
          <div class="">
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>  <h6 style="color: red"> Change Reporting Month</h6>

                  </a>
                  <ul class="dropdown-menu dropdown-usermenu fa-pull-left">
                      {% for request in list_of_slicer %}
                    <li> <a href="{% url 'client_chart' slicer1=request.year slicer2=request.month %}"><h6>{{ request.filter }}</h6> </a></li>
                      {% endfor %}
                  </ul>
                </li>
                  </ul>
          </div>
          <div class="">
            <div class="clearfix">
                <div class=""><h1>Reporting Month: {{ reporting_date }}</h1></div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_title">
                    <h2>Tracking Percentages</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">
                  <div class="x_content">
                    <div id="chartContainer1" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">
                  <div class="x_content">
                    <div id="chartContainer2" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">

                  <div class="x_content">
                    <div id="chartContainer3" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>

              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_title">
                    <h2>Tracking Numbers</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">
                  <div class="x_content">
                    <div id="chartContainer4" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">
                  <div class="x_content">
                    <div id="chartContainer5" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <div class="x_panel">

                  <div class="x_content">
                    <div id="chartContainer6" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
                  </div>

              </div>

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
{#        <footer>#}
{#          <div class="pull-right">#}
{#            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>#}
{#          </div>#}
{#          <div class="clearfix"></div>#}
{#        </footer>#}
        <!-- /footer content -->
    </div>

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>

    <!-- Chart.js -->


    <script type="text/javascript" src="{% static 'js/canvasjs/canvasjs.min.js'%}"></script>



    <!-- /Chart.js -->
  </body>
</html>