{% load staticfiles %}


      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url "profile" %}" class="site_title"><i class="fa fa-paw"></i> <span>Elite Fitness</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="{% static 'images/brad.jpg' %}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{ user.first_name }}</h2>
                <h2>{{ Group}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Analytics</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Add Info <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url "add_client" %}">New Client Info</a></li>
                      <li><a href="{% url "add_sales" %}">Daily Sales</a></li>
                      <li><a href="{% url "add_appointment" %}">Consultation Tracking</a></li>
                      <li><a href="{% url "add_goal" %}">Daily Goal</a></li>

                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url "sales_info" %}">Current Month Progress</a></li>
                      <li><a href="{% url "sales_kpi" %}">Target Achievements</a></li>
                      <li><a href="{% url "client_info" %}">Client Report</a></li>
                      <li><a href="{% url "sales_info" %}">Sales Report</a></li>
                      <li><a href="{% url "appointment_info" %}">Tracking Report</a></li>

                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Charts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url "sales_info" %}">Current Month KPI</a></li>
                      <li><a href="{% url "sales_kpi_chart" %}">Target Achievements</a></li>
                      <li><a href="{% url "client_chart_info" %}">Client Charts</a></li>
                      <li><a href="{% url "sales_chart_info" %}">Sales Charts</a></li>
                      <li><a href="{% url "appointment_chart_info" %}">Tracking Charts</a></li>


                    </ul>
                  </li>
                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a href="{% url 'auth_logout' %}?next={% url 'profile' %}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/brad.jpg' %}" alt=""> {{ user.first_name }} {{ user.last_name }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'auth_logout' %}?next={% url 'profile' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
                  </ul>
            </nav>
          </div>
        </div>
      </div>
        <!-- /top navigation -->