{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Elite Fitness|Sales KPI</title>
<script type="text/javascript">
window.onload = function () {

    var gross =[];
    {% for request in trainer %}
        gross.push({label: 'Overall Month', y: {{request.gross.sales}}, indexLabel: '${{request.gross.sales}}'});
        gross.push({label: '1st - 15th', y: {{request.gross_period_1}}, indexLabel: '${{request.gross_period_1}}'});
        gross.push({label: '16th - End of Month', y: {{request.gross_period_2}}, indexLabel: '${{request.gross_period_2}}'});
    {% endfor %}

    var gross_kpi =[];
    {% for request in trainer %}
        gross_kpi.push({label: 'Overall Month', y: {{request.gross_kpi}}, indexLabel: '{{request.gross_kpi}}%'});
        gross_kpi.push({label: '1st - 15th', y: {{request.gross_kpi_1}}, indexLabel: '{{request.gross_kpi_1}}%'});
        gross_kpi.push({label: '16th - End of Month', y: {{request.gross_kpi_2}}, indexLabel: '{{request.gross_kpi_2}}%'});
    {% endfor %}

    var cash =[];
    {% for request in trainer %}
        cash.push({label: 'Overall Month', y: {{request.cash.cash}}, indexLabel: '${{request.cash.cash}}'});
        cash.push({label: '1st - 15th', y: {{request.cash_period_1}}, indexLabel: '${{request.cash_period_1}}'});
        cash.push({label: '16th - End of Month', y: {{request.cash_period_2}}, indexLabel: '${{request.cash_period_2}}'});
    {% endfor %}

    var cash_kpi =[];
    {% for request in trainer %}
        cash_kpi.push({label: 'Overall Month', y: {{request.cash_kpi}}, indexLabel: '{{request.cash_kpi}}%'});
        cash_kpi.push({label: '1st - 15th', y: {{request.cash_kpi_1}}, indexLabel: '{{request.cash_kpi_1}}%'});
        cash_kpi.push({label: '16th - End of Month', y: {{request.cash_kpi_2}}, indexLabel: '{{request.cash_kpi_2}}%'});
    {% endfor %}


    var net_eft =[];
    {% for request in trainer %}
        net_eft.push({label: 'Overall Month', y: {{request.net_eft}}, indexLabel: '${{request.net_eft}}'});
        net_eft.push({label: '1st - 15th', y: {{request.net_eft_period_1}}, indexLabel: '${{request.net_eft_period_1}}'});
        net_eft.push({label: '16th - End of Month', y: {{request.net_eft_period_2}}, indexLabel: '${{request.net_eft_period_2}}'});
    {% endfor %}

    var net_eft_kpi =[];
    {% for request in trainer %}
        net_eft_kpi.push({label: 'Overall Month', y: {{request.net_eft_kpi}}, indexLabel: '{{request.net_eft_kpi}}%'});
        net_eft_kpi.push({label: '1st - 15th', y: {{request.net_eft_kpi_1}}, indexLabel: '{{request.net_eft_kpi_1}}%'});
        net_eft_kpi.push({label: '16th - End of Month', y: {{request.net_eft_kpi_2}}, indexLabel: '{{request.net_eft_kpi_2}}%'});
    {% endfor %}


    var program =[];
    {% for request in trainer %}
        program.push({label: 'Overall Month', y: {{request.program.program}}, indexLabel: '${{request.program.program}}'});
        program.push({label: '1st - 15th', y: {{request.program_1}}, indexLabel: '${{request.program_1}}'});
        program.push({label: '16th - End of Month', y: {{request.program_2}}, indexLabel: '${{request.program_2}}'});
    {% endfor %}


    var program_kpi =[];
    {% for request in trainer %}
        program_kpi.push({label: 'Overall Month', y: {{request.program_kpi}}, indexLabel: '{{request.program_kpi}}%'});
        program_kpi.push({label: '1st - 15th', y: {{request.program_kpi_1}}, indexLabel: '{{request.program_kpi_1}}%'});
        program_kpi.push({label: '16th - End of Month', y: {{request.program_kpi_2}}, indexLabel: '{{request.program_kpi_2}}%'});
    {% endfor %}


    var request =[];
    {% for request in appointment %}
        request.push({label: 'Overall Month', y: {{request.requests.requests}}, indexLabel: '{{request.requests.requests}}'});
        request.push({label: '1st - 15th', y: {{request.requests_period_1}}, indexLabel: '{{request.requests_period_1}}'});
        request.push({label: '16th - End of Month', y: {{request.requests_period_2}}, indexLabel: '{{request.requests_period_2}}'});
    {% endfor %}


    var request_kpi =[];
    {% for request in appointment %}
        request_kpi.push({label: 'Overall Month', y: {{request.requests_kpi}}, indexLabel: '{{request.requests_kpi}}'});
        request_kpi.push({label: '1st - 15th', y: {{request.requests_kpi_1}}, indexLabel: '{{request.requests_kpi_1}}'});
        request_kpi.push({label: '16th - End of Month', y: {{request.requests_kpi_2}}, indexLabel: '{{request.requests_kpi_2}}'});
    {% endfor %}

    var scheduled =[];
    {% for request in appointment %}
        scheduled.push({label: 'Overall Month', y: {{request.scheduled.scheduled}}, indexLabel: '{{request.scheduled.scheduled}}'});
        scheduled.push({label: '1st - 15th', y: {{request.scheduled_period_1}}, indexLabel: '{{request.scheduled_period_1}}'});
        scheduled.push({label: '16th - End of Month', y: {{request.scheduled_period_2}}, indexLabel: '{{request.scheduled_period_2}}'});
    {% endfor %}


    var scheduled_kpi =[];
    {% for request in appointment %}
        scheduled_kpi.push({label: 'Overall Month', y: {{request.scheduled_kpi}}, indexLabel: '{{request.scheduled_kpi}}%'});
        scheduled_kpi.push({label: '1st - 15th', y: {{request.scheduled_kpi_1}}, indexLabel: '{{request.scheduled_kpi_1}}%'});
        scheduled_kpi.push({label: '16th - End of Month', y: {{request.scheduled_kpi_2}}, indexLabel: '{{request.scheduled_kpi_2}}%'});
    {% endfor %}

    var attended =[];
    {% for request in appointment %}
        attended.push({label: 'Overall Month', y: {{request.attended.attended}}, indexLabel: '{{request.attended.attended}}'});
        attended.push({label: '1st - 15th', y: {{request.attended_period_1}}, indexLabel: '{{request.attended_period_1}}'});
        attended.push({label: '16th - End of Month', y: {{request.attended_period_2}}, indexLabel: '{{request.attended_period_2}}'});
    {% endfor %}


    var attended_kpi =[];
    {% for request in appointment %}
        attended_kpi.push({label: 'Overall Month', y: {{request.attended_kpi}}, indexLabel: '{{request.attended_kpi}}%'});
        attended_kpi.push({label: '1st - 15th', y: {{request.attended_kpi_1}}, indexLabel: '{{request.attended_kpi_1}}%'});
        attended_kpi.push({label: '16th - End of Month', y: {{request.attended_kpi_2}}, indexLabel: '{{request.attended_kpi_2}}%'});
    {% endfor %}


  var chart1 = new CanvasJS.Chart("chartContainer1",
    {

      title:{
        text: "Gross Sale"

      },
      toolTip:{
          shared: true,
      },

      axisY:{
        title: "Gross Sale",
        includeZero: false,
        preffix : "USD",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Sold by",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Gross Sale: USD {y}",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Gross Sales",
	    showInLegend: true,
        dataPoints: gross
      },
      {
        type: "column",
        axisYType: "secondary",
        color: "#C1E1A6",
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: gross_kpi
      }

      ]
    });

    chart1.render();


  var chart2 = new CanvasJS.Chart("chartContainer2",
    {

      title:{
        text: "Cash Recieved"

      },
      toolTip:{
          shared: true,
      },

      axisY:{
        title: "Cash Recieved",
        includeZero: false,
        preffix : "USD",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Sold by",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Cash Recieved: USD {y}",
        color: "#74AFAD",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Cash Recieved",
	    showInLegend: true,
        dataPoints: cash
      },
      {
        type: "column",
        color: '#C1E1A6',
        axisYType: "secondary",
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: cash_kpi
      }

      ]
    });

    chart2.render();


  var chart3 = new CanvasJS.Chart("chartContainer3",
    {

      title:{
        text: "Net EFT"

      },
      toolTip:{
          shared: true
      },

      axisY:{
        title: "Net EFT",
        includeZero: false,
        preffix : "USD",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Sold by",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Net EFT: USD {y}",
        color: "#558C89",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Net EFT",
	    showInLegend: true,
        dataPoints: net_eft
      },
      {
        type: "column",
        axisYType: "secondary",
        color: '#C1E1A6',
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: net_eft_kpi
      }

      ]
    });

    chart3.render();


  var chart4 = new CanvasJS.Chart("chartContainer4",
    {

      title:{
        text: "Program Sold"

      },
      toolTip:{
          shared: true
      },

      axisY:{
        title: "Program Sold",
        includeZero: false,
        preffix : "Quantity",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Sold by",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Net EFT: USD {y}",
        color: "#62C9C3",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Program Sold",
	    showInLegend: true,
        dataPoints: program
      },
      {
        type: "column",
        color: '#C1E1A6',
        axisYType: "secondary",
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: program_kpi
      }

      ]
    });

    chart4.render();

  var chart5 = new CanvasJS.Chart("chartContainer5",
    {

      title:{
        text: "Consultation Requests"

      },
      toolTip:{
          shared: true
      },

      axisY:{
        title: "Requests",
        includeZero: false,
        preffix : "Quantity",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Staff",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Requests: {y}",
        color: "#62C9C3",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Requests",
	    showInLegend: true,
        dataPoints: request
      },
      {
        type: "column",
        axisYType: "secondary",
        color: '#C1E1A6',
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: request_kpi
      }

      ]
    });

    chart5.render();


  var chart6 = new CanvasJS.Chart("chartContainer6",
    {

      title:{
        text: "Consultation Scheduled"

      },
      toolTip:{
          shared: true
      },

      axisY:{
        title: "Scheduled Requests",
        includeZero: false,
        preffix : "Quantity",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Staff",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Scheduled Requests: {y}",
        color: "#62C9C3",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Scheduled Requests",
	    showInLegend: true,
        dataPoints: scheduled
      },
      {
        type: "column",
        axisYType: "secondary",
        color: '#C1E1A6',
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: scheduled_kpi
      }

      ]
    });

    chart6.render();

  var chart7 = new CanvasJS.Chart("chartContainer7",
    {

      title:{
        text: "Consultations Attended"

      },
      toolTip:{
          shared: true
      },

      axisY:{
        title: "Consultations Attended",
        includeZero: false,
        preffix : "Quantity",
        lineColor: "#369EAD"
      },
      axisY2:{
        title: "KPI",
        includeZero: false,
        suffix : "%",
        lineColor: "#C1E1A6"
      },
{#      axisX: {#}
{#        title: "Staff",#}
{#      },#}
      data: [{
        type: "column",
        toolTipContent: "Consultations Attended: {y}",
        color: "#62C9C3",
        indexLabelPlacement: "inside",
        indexLabelFontColor: "white",
    	legendText: "Consultations Attended",
	    showInLegend: true,
        dataPoints: attended
      },
      {
        type: "column",
        axisYType: "secondary",
        color: '#C1E1A6',
        toolTipContent: "KPI: {y}%",
    	legendText: "Goal Achievement %, KPI",
	    showInLegend: true,
        dataPoints: attended_kpi
      }

      ]
    });

    chart7.render();



     }
</script>



    <!-- Bootstrap -->
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <!-- starrr -->
    <link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      {% include 'templates/navbar.html'  %}
        <div class="right_col" role="main">
          <div class="">
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                     <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>  <h6 style="color: red"> Change Reporting Month</h6>

                  </a>
                  <ul class="dropdown-menu dropdown-usermenu fa-pull-left">
                      {% for request in list_of_slicer %}
                    <li> <a href="{% url 'sales_kpi_chart_detail' slicer1=request.year slicer2=request.month %}"><h6>{{ request.filter }}</h6> </a></li>
                      {% endfor %}
                  </ul>
                </li>
                  </ul>
          </div>
          <div class="">
            <div class="clearfix">
                <div class=""><h1>Reporting Month: {{ reporting_date }}</h1></div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Gross Sale: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer1" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Cash Recieved: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer2" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Net EFT: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer3" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Program Sold: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer4" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Consultation Requests: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer5" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Consultation Scheduled: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer6" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Consultations Attended: Actual vs Target</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chartContainer7" style="height: 350px; width: 100%;" align="center"> </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="clearfix"></div>


            <div class="row">

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Copyright &copy; Elite Fitness 2016     </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>

    <!-- Chart.js -->


    <script type="text/javascript" src="{% static 'js/canvasjs/canvasjs.min.js'%}"></script>



    <!-- /Chart.js -->
  </body>
</html>